<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.DiagnosisAddMapper">
	<!-- 이전 진료 내역 -->
	<select id="selectPatientInfoDiagnosis" resultType="kr.human.anihospital.vo.patientInfoDiagnosisListVO">
		    SELECT 
				dia.diagnosis_date AS diagnosisDate,
				dia.diagnosis_symptom AS diagnosisSymptom,
				ah.animal_hospital_name AS animalHospitalName
			FROM
				diagnosis AS dia JOIN animalhospital AS ah ON dia.seq_animal_hospital = ah.seq_animal_hospital
			WHERE dia.seq_doctor = 1 AND dia.seq_animal = 1
			ORDER BY dia.diagnosis_date DESC
	</select>
	
	<!-- 환자 정보 -->
	<select id="selectPatientInfo" resultType="PatientInfoVO">
		    SELECT 
		    	seq_animal as seqAnimal,
				animal_name AS animalName,
				animal_type AS animalType,
				animal_size AS animalSize,
				(DATE_FORMAT(NOW(), '%y') - DATE_FORMAT(animal_age, '%y')) AS animalAge,
				(case when animal_gender = 0 then 'Male' else 'Female' END) AS animalGender,
				animal_weight AS animalWeight,
				animal_important_symptom as animalImportantSymptom 
			FROM animal
			WHERE seq_animal = 1
	</select>
	<!-- 진료 내용 insert -->
	<insert id="insertDiagnosis" parameterType="DiagnosisAddVO">
			INSERT INTO Diagnosis 
			   (seq_doctor,
				seq_animal,
				seq_protector,
				seq_medicine, 
			    seq_animal_hospital, 
			    diagnosis_date, 
			    diagnosis_symptom, 
			    diagnosis_update_date,
				medicine_update_date
			 )VALUES (
				1, 
				1, 
				1, 
				1, 
				1, 
				now(), 
				#{diagnosisSymptom},
				now(),
				NOW()
			)
	</insert>
	<!-- 주의사항 update -->
	<update id="updateProtectorImportantPoint" parameterType="DiagnosisAddVO">
  			UPDATE Protector SET
				protector_important_point = #{protectorImportantPoint},
				protector_update_date = now()
			WHERE
				seq_protector = #{seqProtector}
   </update>
</mapper>