<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.HospitalEditMapper">
	<update id="updateAnimalHospital" parameterType="kr.human.anihospital.vo.AnimalHospitalVO">
		<![CDATA[
		   	UPDATE animalhospital SET 
				animal_hospital_name = #{animalHospitalName},
				animal_hospital_address = #{animalHospitalAddress},
				animal_hospital_phoneNo = #{animalHospitalPhoneNo},
				hospital_location_latitude = #{hospitalLocationLatitude},
				hospital_location_longitude = #{hospitalLocationLongitude}
			WHERE 
				seq_animal_hospital = 202;
	   ]]>
	</update>
</mapper>