<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.MemberJoinMapper">
	<insert id="protectorMemberJoin"
		parameterType="ProtectorVO">
		INSERT INTO
			protector
			(protector_id,
			protector_password,
			protector_name,
			protector_age,
			protector_gender,
			protector_address,
			protector_phoneNo,
			protector_join_date,
			protector_role,
			protector_update_date,
			protector_leave_flag)
		VALUES
			(#{protectorId},
			#{protectorPassword},
			#{protectorName},
			#{protectorAge},
			#{protectorGender},
			#{protectorAddress},
			#{protectorPhoneNo},
			now(),
			0,
			now(),
			0)
	</insert>
	
	<insert id="doctorMemberJoin"
		parameterType="DoctorVO">
		INSERT INTO
			doctor
			(doctor_id,
			doctor_password,
			doctor_name,
			doctor_work_year,
			doctor_age,
			doctor_gender,
			doctor_address,
			doctor_phoneNo,
			doctor_registration_number,
			doctor_picture,
			doctor_say,
			doctor_join_date,
			doctor_role,
			doctor_work_space,
			doctor_education,
			doctor_update_date,
			file_path)
		VALUES
			(#{doctorId},
			#{doctorPassword},
			#{doctorName},
			#{doctorWorkYear},
			#{doctorAge},
			#{doctorGender},
			#{doctorAddress},
			#{doctorPhoneNo},
			#{doctorRegistrationNumber},
			#{doctorPicture},
			#{doctorSay},
			now(),
			1,
			#{doctorWorkSpace},
			#{doctorEducation},
			now(),
			#{filePath}
			)
	</insert>
</mapper>