<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.MyPageProtectorMapper">
	<select id="selectProtector" parameterType="int" resultType="ProtectorVO">
		select 
			seq_protector seqProtector, protector_id protectorId, 
			protector_password protectorPassword, protector_name protectorName, 
			protector_age protectorAge, protector_gender protectorGender,
			protector_address protectorAddress, protector_phoneNo protectorPhoneNo, 
			protector_important_point protectorImportantPoint, protector_join_date protectorJoinDate,
			protector_role protectorRole, protector_update_date protectorUpdateDate,
			protector_leave_flag protectorLeaveFlag
		from Protector
		where seq_protector = #{seqProtector}
	</select>
	
	<update id="updateProtector" parameterType="map">
		UPDATE Protector 
		SET 
		protector_password = #{protectorPassword},
		protector_phoneNo = #{protectorPhoneNo},
		protector_address = #{protectorAddress}
		WHERE seq_protector = #{seqProtector}
	</update>
	
	<select id="selectPatientDiagnosisList" resultType="PatientDiagnosisListVO">
		    SELECT
		    	dia.seq_diagnosis AS seqDiagnosis,
		    	a.animal_name AS animalName,
				date_format(dia.diagnosis_date, '%Y.%m.%d') AS diagnosisDate,
				dia.diagnosis_symptom AS diagnosisSymptom,
				ah.animal_hospital_name AS animalHospitalName
			FROM
				diagnosis AS dia 
					JOIN animal AS a ON dia.seq_animal = a.seq_animal
					JOIN protector AS p ON dia.seq_protector = p.seq_protector
					JOIN animalhospital AS ah ON dia.seq_animal_hospital = ah.seq_animal_hospital
			WHERE 
				dia.seq_protector = #{seq_protector}
			ORDER BY 
				dia.diagnosis_date DESC
	</select>
	
	<select id="selectOneProtectorPatientList" parameterType="int" resultType="OneProtectorPatientListVO">
		SELECT 	
			a.animal_name as animalName, 
			(date_format(now(),'%Y') - date_format(animal_age,'%Y')) AS animalAge, 
			a.animal_type AS animalType, 
			a.animal_size AS animalSize, 
			a.animal_weight AS animalWeight,
			p.protector_id AS protectorId, 
			p.protector_name AS protectorName, 
			p.protector_phoneNo AS protectorPhone, 
			p.protector_address AS protectorAddress
		from 
			Animal AS a join protector AS p ON a.seq_protector=p.seq_protector
		WHERE 
			a.seq_protector = #{seqProtector}
	</select>
	
	<select id="selectOneProtectorPostcriptList" parameterType="int" resultType="OneProtectorPostscriptListVO">
			select 
			a.animal_name as animalName, 
			p.postscript_satisfaction AS postscriptSatisfaction, 
			ah.animal_hospital_name as animalHospitalname, 
			d.diagnosis_date AS diagnosisDate
		FROM 
			 Animal as a join Postscript as p on a.seq_doctor=p.seq_doctor
			   join Animalhospital as ah on p.seq_doctor=ah.seq_doctor
			   join Diagnosis as d on ah.seq_doctor=d.seq_doctor
		WHERE a.seq_protector=#{seqProtector}
		group by animal_name
	</select>
</mapper>