<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.NoticeMapper">
	<select id="selectNoticeList" resultType="NoticeListVO">
		 	SELECT
				n.seq_notice AS seqNotice,
				n.seq_doctor AS seqDoctor,
				n.seq_animal_hospital AS seqAnimalHospital,
				n.notice_subject AS noticeSubject,
				n.notice_content AS noticeContent,
				date_format(n.notice_write_date, '%Y-%m-%d') AS noticeWriteDate,
				a.animal_hospital_name AS animalHospitalName,
				d.doctor_name AS doctorName,
				date_format(n.notice_update_date, '%Y-%m-%d') AS noticeUpdateDate
			from
				notice AS n
				join animalhospital AS a ON n.seq_animal_hospital = a.seq_animal_hospital
				join doctor AS d on n.seq_doctor = d.seq_doctor
			order by
				noticeUpdateDate DESC
	</select>
	
	<insert id="insertNotice" parameterType="NoticeVO">
		    INSERT INTO Notice(
				seq_doctor, 
				seq_animal_hospital, 
				notice_subject, 
				notice_content, 
				notice_write_date,
				notice_update_date
			) VALUES (
				1, 
				1, 
				#{noticeSubject}, 
				#{noticeContent}, 
				now(),
				now()
			)
	</insert>
	
	<select id="selectNotice" parameterType="int" resultType="NoticeListVO">
		SELECT
			n.seq_notice AS seqNotice,
			d.doctor_name AS doctorName, 
			a.animal_hospital_name AS animalHospitalName, 
			date_format(n.notice_update_date, '%Y-%m-%d') AS noticeUpdateDate,
			date_format(n.notice_write_date, '%Y-%m-%d') AS noticeWriteDate,
			n.notice_subject AS noticeSubject,
			n.notice_content AS noticeContent
		FROM
			notice AS n 
			JOIN animalhospital AS a ON n.seq_animal_hospital = a.seq_animal_hospital
			JOIN doctor AS d ON n.seq_doctor =d.seq_doctor
		WHERE n.seq_notice = #{seq_notice}
		GROUP BY n.seq_notice
	</select>
	
	<update id="deleteNotice" parameterType="int">
		    delete from notice
			WHERE
				seq_notice = #{seq_notice}
	</update>
	
	<update id="updateNotice" parameterType="NoticeListVO">
		    UPDATE Notice SET
				notice_subject = #{noticeSubject}, 
				notice_content = #{noticeContent}, 
				notice_update_date = now()
			WHERE
				seq_notice = #{seqNotice}
	</update>
	
	<select id="selectOneDetailNotice" resultType="NoticeOneDetailVO">
		SELECT 
			n.seq_notice AS seqNotice,
			d.doctor_name AS doctorName,
			a.animal_hospital_name AS animalHospitalName,
			date_format(n.notice_update_date, '%Y-%m-%d') AS noticeUpdateDate,
			n.notice_subject AS noticeSubject,
			n.notice_content AS noticeContent
		FROM 
			notice AS n join animalhospital AS a ON n.seq_animal_hospital = a.seq_animal_hospital
				 		join doctor AS d on n.seq_doctor = d.seq_doctor
		WHERE
			n.seq_notice = #{seqNotice}
	</select>
</mapper>               