<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.PatientListMapper">
	<select id="selectPatientList" resultType="patientListVO">
		<![CDATA[
		    SELECT 
		    	a.seq_animal AS seqAnimal,
		    	a.seq_protector AS seqProtector,
		    	a.seq_doctor AS seqDoctor,
			    p.protector_name AS protectorName, 
				a.animal_name AS animalName, 
				(DATE_FORMAT(NOW(), '%Y') - DATE_FORMAT(a.animal_age, '%Y')) AS animalAge, 
				a.animal_type AS animalType,
				a.animal_gender AS animalGender,
				a.animal_weight AS animalWeight,
				a.animal_important_symptom AS animalImportantSymptom
			from 
			   animal AS a Join protector AS p ON a.seq_protector = p.seq_protector
			where
			   	seq_doctor = 1
		]]>
	</select>
</mapper>