<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.PatientInfoMapper">
	<select id="selectPatientInfoDiagnosis" resultType="kr.human.anihospital.vo.patientInfoDiagnosisListVO">
		    SELECT 
				dia.diagnosis_date AS diagnosisDate,
				dia.diagnosis_symptom AS diagnosisSymptom,
				ah.animal_hospital_name AS animalHospitalName
			FROM
				diagnosis AS dia JOIN animalhospital AS ah ON dia.seq_animal_hospital = ah.seq_animal_hospital
			WHERE dia.seq_doctor = 1 AND dia.seq_animal = 1
			ORDER BY dia.diagnosis_date DESC
	</select>
</mapper>