<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.PatientInfoEditProtectorMapper">
	<!-- 환자 정보 수정화면에서 보여줄 환자 정보 -->
	<select id="selectPatient" resultType="animalVO">
		SELECT 
			seq_animal seqAnimal,
			seq_protector seqProtector,
			seq_doctor seqDoctor,
			animal_name animalName,
			animal_type animalType,
			animal_size animalSize,
			animal_age animalAge,
			animal_gender animalGender,
			animal_weight animalWeight
		FROM 
			Animal
		WHERE 
		   seq_protector= 1 and seq_animal = 2
	</select>
	
	<!-- 환자 정보 수정 -->
	<update id="updatePatient" parameterType="map">
		UPDATE 
		   Animal
		SET 
		   animal_picture = #{animalPicture} ,
		   animal_video =  #{animalVideo} ,
		   animal_name = #{animalName} ,
		   animal_type = #{animalType} ,
		   animal_size = #{animalSize} , 
		   animal_age =  #{animalAge} ,
		   animal_weight = #{animalWeight} ,
		   animal_update_date = now()
		WHERE 
		   seq_protector= #{seqProtector} and seq_animal = #{seqAnimal}
	</update>
	
	<!-- 환자 추가 -->
	<insert id="insertPatient" parameterType="AnimalVO">
			INSERT INTO animal 
					(seq_protector, 
					seq_doctor, 
					animal_name, 
					animal_type, 
					animal_size, 
					animal_weight, 
					animal_age, 
					animal_gender, 
					animal_important_symptom, 
					animal_join_date, 
					animal_picture,
					animal_video,
					file_path,
					vid_file_path,
					animal_update_date) 
			VALUES
					(1,
					 1,
					 #{animalName}, 
					 #{animalType}, 
					 #{animalSize}, 
					 #{animalWeight}, 
					 #{animalAge}, 
					 #{animalGender}, 					 
					 #{animalImportantSymptom}, 
					 now(), 
					 #{animalPicture}, 					 
					 #{animalVideo}, 					 
					 #{filePath}, 					 
					 #{vidfilePath}, 					 
					 now()
					 )
	</insert>
</mapper>