<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.PharmacyInfoMapper">
	<select id="countPharmacy" resultType="int">
		select count(*) from
		pharmacylocation
	</select>

	<select id="selectPharmacy" parameterType="int"
		resultType="PharmacyLocationVO">
		select
		animal_pharmacy_name animalPharmacyName,
		animal_pharmacy_address animalPharmacyAddress,
		animal_pharmacy_phoneNo
		animalPharmacyPhoneNo,
		seq_pharmacy_location seqPharmacyLocation,
		pharmacy_location_latitude
		pharmacyLocationLatitude,
		pharmacy_location_longitude
		pharmacyLocationLongitude
		from
		PharmacyLocation
		where
		seq_pharmacy_location = #{seq}
	</select>
	<select id="selectPharmacyList"
		resultType="PharmacyLocationVO">
		select
		animal_pharmacy_name animalPharmacyName,
		animal_pharmacy_address animalPharmacyAddress,
		animal_pharmacy_phoneNo
		animalPharmacyPhoneNo,
		seq_pharmacy_location seqPharmacyLocation ,
		pharmacy_location_latitude
		pharmacyLocationLatitude,
		pharmacy_location_longitude
		pharmacyLocationLongitude
		from
		PharmacyLocation
		order by seq_pharmacy_location desc
	</select>

	<insert id="insertPharmacy"
		parameterType="PharmacyLocationVO">
		insert into
		PharmacyLocation
		(animal_pharmacy_name,animal_pharmacy_address,animal_pharmacy_phoneNo,seq_pharmacy_location,pharmacy_location_latitude,pharmacy_location_longitude)
		values (#{animalPharmacyName},#{animalPharmacyAddress},#{animalPharmacyPhoneNo},#{seqPharmacyLocation},#{pharmacyLocationLatitude},#{pharmacyLocationLongitude})
	</insert>
	<update id="updatePharmacy"
		parameterType="PharmacyLocationVO">
		update
		PharmacyLocation
		set
		animal_pharmacy_name=#{animalPharmacyName},
		animal_pharmacy_address=#{animalPharmacyAddress},
		animal_pharmacy_phoneNo=#{animalPharmacyPhoneNo},
		pharmacy_location_latitude=#{pharmacyLocationLatitude},
		pharmacy_location_longitude=#{pharmacyLocationLongitude}
		where
		seq_pharmacy_location=#{seqPharmacyLocation}
	</update>
</mapper>

