<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.anihospital.mapper.ProPostscriptMapper">
	<insert id="insertPostscript"
		parameterType="ProPostscriptVO"> 
			insert into Postscript(
				seq_protector,
				seq_doctor,
				seq_diagnosis,
				seq_animal,
				postscript_reporting_date,
				postscript_content,
				postscript_satisfaction,
				postscript_update_date
			) values (
				#{seqProtector},
				#{seqDoctor},
				#{seqDiagnosis},
				#{seqAnimal},
				now(),
				#{postscriptContent},
				#{postscriptSatisfactionrating},
				now()
			)
	</insert>
	<update id="updatePostscript" parameterType="ProPostscriptVO">
		<![CDATA[
		    update  postscript SET
		    		postscript_content = #{postscriptContent},
		    		postscript_satisfaction = #{postscriptSatisfactionrating},
		    		postscript_update_date = now()
		    where
		    		seq_postscript = #{seqPostscript}
	   ]]>
	</update>
</mapper>