<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>의사 스케줄 수정 및 삭제</title>
<meta content="" name="description">
<meta content="" name="keywords">
<!-- Favicons -->
<link href="img/favicon.png" rel="icon">
<link href="img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="css/style.css" rel="stylesheet">
<style type="text/css">
.scheduleForm {
	margin-bottom: 60px;
	margin-left: 20%;
	margin-right: 10%;
	width: 20%;
}

textarea {
	border-radius: 5px;
	border: 1px solid gray;
	resize: none
}
</style>
</head>
<body>
	<div th:replace="~{fragment/header :: #header}"></div>
	<main id="main">
			<!-- ======= Breadcrumbs Section ======= -->
			<section class="breadcrumbs">
				<div class="container">
					<br />
					<div class="section-title">
						<h2 style="font-weight: bold; font-size: 30px;">
							<br /> 의사 스케줄 수정 및 삭제
						</h2>
					</div>
				</div>
			</section>
			<!-- End Breadcrumbs Section -->
			<section class="inner-page">
				<div class="container">
					<div class="scheduleForm">
							<p style="width: 400px;">
							수정할 스케줄의 날짜와 시간을 선택해주세요.
							</p>
						<div style="margin: auto;">
						<br />스케줄 시작 시간 <br />
							<input type="date" id="date" name="Date" class="form-control" style="width: 200px; display:inline-block; " />
							<input type="time" id="time1" name="time1" class="form-control" style="width: 200px; display:inline-block;" />
						<br /> <br />스케줄 종료 시간 <br />
							<input type="date" id="date" name="Date" class="form-control" style="width: 200px; display:inline-block; " />
							<input type="time" id="time1" name="time1" class="form-control" style="width: 200px; display:inline-block;" />
							<br /> <br />제목 <br />
							<textarea id="scheduleSubject" class="form-control" name="scheduleSubject" rows="1" maxlength="50"
								required="required" placeholder="제목을 입력해주세요." style="width: 700px;"></textarea>
							<br /> 내용 <br />
							<textarea id="scheduleDoctorContent" class="form-control" name="scheduleDoctorContent" rows="20" maxlength="500"
								required="required" placeholder="내용을 입력해주세요." style="width: 700px; height: 500px;"></textarea>
							<br />
						</div>
					</div>
					<!--  완료 후 어떤페이지로 갈지 보류 -->
					<div style="position: relative;">
						<button type="button" id="move_pre_page" name="move_pre_page" class="btn btn-secondary" style="border-radius: 50px; width: 110px; float: left; margin-left: 22%;" onclick="history.go(-1)">이전페이지</button>
						<button type="button" id="modify_btn" name="modify_btn" class="btn btn-primary bt-sm" style="border-radius: 50px; width: 110px; display: inline; margin-left: 180px;">수정</button>
						<button type="submit" id="delete_btn" name="delete_btn" class="btn btn-danger bt-sm" style="border-radius: 50px; width: 110px; display: inline; float: right; margin-right: 15%;">삭제</button>
						<br />
					</div>
				</div>
			</section>
	</main>
	<!-- End #main -->
	<!-- Template Main JS File -->
	<div th:replace="~{fragment/footer :: #footer}"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
       $('#modify_btn').on('click', function() {
          var date = $('#date').val();
          var time1 = $('#time1').val();
          var time2 = $('#time2').val();
          var subject = $('#scheduleSubject').val();
          var content = $('#scheduleDoctorContent').val();
          if(subject==null||subject.trim().length==0){
               $('#scheduleSubject').attr('style','border-color: #dc3545; margin:auto;width:700px;');
           	   $('#scheduleSubject').val('');
           	   $('#warningMessage4').html('<div id="warning" style=" width:700px;"><b style="color: red; width:700px;">내용을 입력해주세요.</b></div>');
        	   $('#scheduleSubject').focus();
           }else if(content==null||content.trim().length==0){
               $('#scheduleDoctorContent').attr('style','border-color: #dc3545; margin:auto; width:700px; height: 500px;');
           	   $('#scheduleDoctorContent').val('');
           	   $('#warningMessage5').html('<div id="warning" style=" width:700px;"><b style="color: red; width:700px;">내용을 입력해주세요.</b></div>');
        	   $('#scheduleDoctorContent').focus();
           }else{
				var result = window.confirm('작성한 내용으로 수정하시겠습니까?');
				if (result) {
					alert('정상적으로 처리되었습니다.');
					var seqDoctorScheduleVar = $("#seqDoctorSchedule").val();
					var dateVar = $("#date").val();
					var time1Var = $("#time1").val();
					var time2Var = $("#time2").val();
					var scheduleSubjectVar = $("#scheduleSubject").val();
					var scheduleDoctorContentVar = $("#scheduleDoctorContent").val();
					$.ajax({
						url:"/scheduleDoctorEdit",
						dataType: "text",
						type: "post",
						contentType:"application/x-www-form-urlencoded; charset=UTF-8",
						data: {
							seqDoctorSchedule : seqDoctorScheduleVar,
							date : dateVar,
							time1 : time1Var,
							time2 : time2Var,
							scheduleSubject : scheduleSubjectVar,
							scheduleDoctorContent : scheduleDoctorContentVar
						},
						success: function(data) {
							location.href='';// 완료 후 어떤페이지로 갈지 보류
						},
						error: function(data) {
							alert("Error");
						}
					});					
				} else if (!result) {
					alert('취소되었습니다.');
				}
          }
      });
       $('#delete_btn').on('click', function() {
			var result = window.confirm('정말로 삭제하시겠습니까?');
			if (result) {
				alert('정상적으로 삭제되었습니다.');
				
				var seqDoctorScheduleVal = $('#seqDoctorSchedule').val();
				
				$.ajax({
					url:"/scheduleDoctorEdit",
					dataType: "text",
					type: "post",
					contentType:"application/x-www-form-urlencoded; charset=UTF-8",
					data: {
						seqDoctorSchedule : seqDoctorScheduleVal
					},
					success: function (data) {
						location.href=''; // 완료 후 어떤페이지로 갈지 보류
					},
					error: function (data) {
						alert("Error");
					}
				});
			} else if (!result) {
				alert('취소 되었습니다.');
			}
		});
}); 

$('#scheduleSubject').on('input',function(){
	if($('#scheduleSubject').val() !=''){
		$('#scheduleSubject').attr('style','width:700px;');
		$('#warning').remove();
	}
})
$('#scheduleDoctorContent').on('input',function(){
	if($('#scheduleDoctorContent').val() !=''){
		$('#scheduleDoctorContent').attr('style','width:700px;');
		$('#warning').remove();
	}
})


</script>
</html>